ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-image: linear-gradient(60deg, rgb(75, 100, 200,3), rgb(0, 255, 150,3));
  }

  
  body {
    background-color: rgba(127,255,212,0.5);
  }

  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.75);
  padding: 10px;
  text-align: center;
}

.class{
  position: fixed;
  right: auto;
  height: 43px;
  width: 42px;
  cursor: pointer
}